body {
  font-family: sans-serif;
  font-family: Ubuntu;
  font-size: 15px;
  line-height: 20px;
  position: absolute;
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-content: space-between;
}
.item {
  text-align: center;
  width: 200px;
  margin: 30px 3% 0px 3%;
}
.item:hover {
  opacity: 0.8;
}
.item-image {
}
.item-desc p {
  margin: 0;
  padding: 1px;
  /*height: 120px;*/
}
.icon {
  height: 20px;
  width: 25px;
  object-fit: contain;
}
.item-content-container {
}
.item-image img {
  width: 200px;
  opacity: 1;
  filter: alpha(opacity=100); /* IE8 and lower */
  zoom: 1; /* Triggers "hasLayout" in IE 7 and lower */
  max-height: 250px;
  object-fit: cover;
  height: 250px;
  border-radius: 10px 10px 0 0;
}
.item-contents{
  position:relative;
  width: 200px;
  margin: 0 auto;
}
.item-contents:hover {
  box-shadow: 0px 0px 22px 2px grey;
  border-radius: 10px 10px 30px 30px;
}
.btn{
  color: white;
  font-size: 25px;
  padding: 10px;
  background-color: #52bad1;
  font-size: 17.5px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  color: #eef7ef;
  background-color: #52bad1;
  border-color: #52bad1;
  border-radius: 300px;
  -webkit-box-shadow: 0 2px 0 0 #34abc5;
  -moz-box-shadow: 0 2px 0 0 #34abc5;
  box-shadow: 0 2px 0 0 #34abc5;
}
.header {
    color: #52bad1;
    line-height: 1.2em;
    font-weight: 600;
    font-style: normal;
    font-size: 49px;
    letter-spacing: -0.02em;
    text-transform: none;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
}
.header-container {
  text-align: center;
  width: 100%;
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small,
.medium-button-style-raised .sqs-block-button .sqs-block-button-element--medium,
.large-button-style-raised .sqs-block-button .sqs-block-button-element--large {
    position: relative;
    -webkit-transition: .1s background-color linear;
    -moz-transition: .1s background-color linear;
    -o-transition: .1s background-color linear;
    transition: .1s background-color linear
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small:active,
.medium-button-style-raised .sqs-block-button .sqs-block-button-element--medium:active,
.large-button-style-raised .sqs-block-button .sqs-block-button-element--large:active {
    top: 1px
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small {
  -webkit-box-shadow: 0 2px 0 0 #34abc5;
  -moz-box-shadow: 0 2px 0 0 #34abc5;
  box-shadow: 0 2px 0 0 #34abc5
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small:hover {
  background-color: #5ebed4
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small:active {
  -webkit-box-shadow: 0 1px 0 0 #34abc5;
  -moz-box-shadow: 0 1px 0 0 #34abc5;
  box-shadow: 0 1px 0 0 #34abc5
}
.small-button-style-raised .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small {
  -webkit-box-shadow: 0 2px 0 0 #ebebeb;
  -moz-box-shadow: 0 2px 0 0 #ebebeb;
  box-shadow: 0 2px 0 0 #ebebeb
}
.small-button-style-raised .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small:hover {
  background-color: #fff
}
.small-button-style-raised .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small:active {
  -webkit-box-shadow: 0 1px 0 0 #ebebeb;
  -moz-box-shadow: 0 1px 0 0 #ebebeb;
  box-shadow: 0 1px 0 0 #ebebeb
}
.small-button-shape-rounded .sqs-block-button .sqs-block-button-element--small,
.medium-button-shape-rounded .sqs-block-button .sqs-block-button-element--medium,
.large-button-shape-rounded .sqs-block-button .sqs-block-button-element--large {
  border-radius: 3px
}
.small-button-shape-pill .sqs-block-button .sqs-block-button-element--small,
.medium-button-shape-pill .sqs-block-button .sqs-block-button-element--medium,
.large-button-shape-pill .sqs-block-button .sqs-block-button-element--large {
  border-radius: 300px
}
.btn:hover {
  background-color: #5ebed4;
}
.next-btn {
  background-color: transparent;
  -webkit-transition: background-color 170ms ease-out,color 170ms ease-out;
  -moz-transition: background-color 170ms ease-out,color 170ms ease-out;
  -ms-transition: background-color 170ms ease-out,color 170ms ease-out;
  -o-transition: background-color 170ms ease-out,color 170ms ease-out;
  transition: background-color 170ms ease-out,color 170ms ease-out;
  box-shadow: none;
  border: 1px solid #52bad1;
  color: #52bad1;
  border-radius: 300px;
  vertical-align: middle;
  padding: 12px 18px;
  margin: .618em .51em;
}
.next-btn:hover {
  background-color: #52bad1;
  color: white;
}
.next-btn-inverse {
  background-color: #52bad1;
  color: #fff;
  -webkit-transition: background-color 170ms ease-out,color 170ms ease-out;
  -moz-transition: background-color 170ms ease-out,color 170ms ease-out;
  -ms-transition: background-color 170ms ease-out,color 170ms ease-out;
  -o-transition: background-color 170ms ease-out,color 170ms ease-out;
  transition: background-color 170ms ease-out,color 170ms ease-out;
  box-shadow: none;
  border: 2px solid #52bad1;
  border-radius: 300px;
  vertical-align: middle;
  padding: 12px 18px;
  margin: .618em .51em;
}
.next-btn-inverse:hover {
  background-color: transparent;
  color: #52bad1;
}
.container a {
  text-decoration: none !important;
  color: black !important;
}
.item-descriptors {
  padding: 5% 4px;
}
.item-desc-attrs {
  padding: 5%;
}
.item-name {
  padding-bottom: 2px;
  padding-top: 5px;
}
.item-name p {
  margin: 0;
}
.item-image {
}
.navigation-btn {
  display: flex;
}
/*.filter-bar, .filter-bar form, .filter-bar .row {*/
  /*!*width: 100%;*!*/
/*}*/
/*.form-inline {*/
  /*display: flex;*/
  /*align-items: center;*/
/*}*/
/*.filter-bar h6 {*/
  /*margin: 0;*/
/*}*/
/*.filter-bar select {*/
  /*!*min-width: 70%;*!*/
/*}*/

@media all and (max-width: 500px) {
  .item {
    text-align: center;
    width: 44%;
  }
  .item-image img {
    width: 100%;
  }
  .item-contents{
    width: 100%;
    margin: 0 0 0 0;
  }
}