body {
  background-color: #fff0;
}
.container {
  padding-top: 5%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  text-align: center;
  width: 200px;
  margin: 15px 3% 20px 3%;
}
.item:hover {
  opacity: 0.8;
}
.item-image {
}
.item-desc p {
  margin: 0;
}
.icon {
  height: 20px;
  width: 25px;
  object-fit: contain;
}
.item-content-container {

}
.item-image img {
  width: 200px;
  opacity: 1;
  filter: alpha(opacity=100); /* IE8 and lower */
  zoom: 1; /* Triggers "hasLayout" in IE 7 and lower */
  max-height: 250px;
  object-fit: cover;
  height: 250px;
}
.item-contents{
  position:relative;
  width: 200px;
  margin: 0 auto;
}
.btn{
  color: white;
  font-size: 25px;
  padding: 10px;
  background-color: #52bad1;
  font-size: 17.5px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0em;
  color: #eef7ef;
  background-color: #52bad1;
  border-color: #52bad1;
  border-radius: 300px;
  -webkit-box-shadow: 0 2px 0 0 #34abc5;
  -moz-box-shadow: 0 2px 0 0 #34abc5;
  box-shadow: 0 2px 0 0 #34abc5;
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small,
.medium-button-style-raised .sqs-block-button .sqs-block-button-element--medium,
.large-button-style-raised .sqs-block-button .sqs-block-button-element--large {
    position: relative;
    -webkit-transition: .1s background-color linear;
    -moz-transition: .1s background-color linear;
    -o-transition: .1s background-color linear;
    transition: .1s background-color linear
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small:active,
.medium-button-style-raised .sqs-block-button .sqs-block-button-element--medium:active,
.large-button-style-raised .sqs-block-button .sqs-block-button-element--large:active {
    top: 1px
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small {
  -webkit-box-shadow: 0 2px 0 0 #34abc5;
  -moz-box-shadow: 0 2px 0 0 #34abc5;
  box-shadow: 0 2px 0 0 #34abc5
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small:hover {
  background-color: #5ebed4
}
.small-button-style-raised .sqs-block-button .sqs-block-button-element--small:active {
  -webkit-box-shadow: 0 1px 0 0 #34abc5;
  -moz-box-shadow: 0 1px 0 0 #34abc5;
  box-shadow: 0 1px 0 0 #34abc5
}
.small-button-style-raised .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small {
  -webkit-box-shadow: 0 2px 0 0 #ebebeb;
  -moz-box-shadow: 0 2px 0 0 #ebebeb;
  box-shadow: 0 2px 0 0 #ebebeb
}
.small-button-style-raised .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small:hover {
  background-color: #fff
}
.small-button-style-raised .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small:active {
  -webkit-box-shadow: 0 1px 0 0 #ebebeb;
  -moz-box-shadow: 0 1px 0 0 #ebebeb;
  box-shadow: 0 1px 0 0 #ebebeb
}
.small-button-shape-rounded .sqs-block-button .sqs-block-button-element--small,
.medium-button-shape-rounded .sqs-block-button .sqs-block-button-element--medium,
.large-button-shape-rounded .sqs-block-button .sqs-block-button-element--large {
  border-radius: 3px
}
.small-button-shape-pill .sqs-block-button .sqs-block-button-element--small,
.medium-button-shape-pill .sqs-block-button .sqs-block-button-element--medium,
.large-button-shape-pill .sqs-block-button .sqs-block-button-element--large {
  border-radius: 300px
}
.btn:hover {
  background-color: #5ebed4;
}
.next-btn {
  background-color: transparent;
  -webkit-transition: background-color 170ms ease-out,color 170ms ease-out;
  -moz-transition: background-color 170ms ease-out,color 170ms ease-out;
  -ms-transition: background-color 170ms ease-out,color 170ms ease-out;
  -o-transition: background-color 170ms ease-out,color 170ms ease-out;
  transition: background-color 170ms ease-out,color 170ms ease-out;
  box-shadow: none;
  border: 2px solid #52bad1;
  color: #52bad1;
  border-radius: 300px;
  vertical-align: middle;
  padding: 12px 18px;
  margin: .618em .51em;
}
.next-btn:hover {
  cursor: pointer;
  background-color: #52bad1;
  color: #fff;
}
.container a {
  text-decoration: none;
  color: black;
}
.item-descriptors {
  padding: 5% 4px;
}
.item-desc-attrs {
  padding: 5%;
}
.item-name {
  padding-bottom: 2px;
  padding-top: 5px;
}
.item-name p {
  margin: 0;
}
.item-image {
}
.navigation-btn {
  display: flex;
}

@media all and (max-width: 500px) {
  .item {
    text-align: center;
    width: 44%;
  }
  .item-image img {
    width: 100%;
  }
  .item-contents{
    width: 100%;
    margin: 0 0 0 0;
  }
}
.checkmark {
  margin: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  padding-top: 0px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.thank-you-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.thank-you-text {
  margin: 0 0 30px 0;
}
svg {
  color: #52bad1;
  object-fit: cover;
  width: 60px;
  padding-top: 15px;
}

svg:hover {
  opacity: 0.8;
  cursor: pointer;
}
.item-sm {
  margin: 0 3% 0 0;
  display: inline;
  text-align: center;
}
.fail {
  color: red;
  background-color: #8080801c;
}
.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
.header {
    color: #52bad1;
    line-height: 1.2em;
    font-weight: 600;
    font-style: normal;
    font-size: 49px;
    letter-spacing: -0.02em;
    text-transform: none;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
}
.header-sm {
    color: #52bad1;
    line-height: 1.2em;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    letter-spacing: -0.02em;
    text-transform: none;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
}
.header-container {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .item, .item-sm {
    width: 100%;
  }
}