body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
    /* text-align: center; */
    /* width: 600px; */
    /* border: 3px solid #e0e0e0; */
    margin: 15px;
    height: 200px;
    background-color: #e0e0e000;
}
.item-image {
    float: left;
    height: 190px;
    /* border-top-left-radius: 15px; */
}
.item-desc p {
    margin: 0;
    color: white;
}
.icon {
  height: 20px;
  width: 25px;
  object-fit: contain;
}
.item-image img {
    width: 220px;
    height: 200px;
    opacity: 1;
    filter: alpha(opacity=100);
    zoom: 1;
    max-height: 250px;
    object-fit: cover;
}
.item-contents:hover .item-image,
.item-contents:hover .item-name,
.item-contents:hover .item-desc,
.item-contents:hover .item-likes {
  opacity: 0.7;
  filter: alpha(opacity=80);
  zoom: 1;
}
.item-contents:hover:after {
  text-align: center;
}
.item-contents{
position: relative;
    width: 440px;
    background-color: #ffffff14;
    height: 200px;
    margin: 0 auto;
    /* border: 2px solid #63cce3; */
    box-shadow: black;
    border-top-right-radius: 0px;
    text-shadow: black;
    box-shadow: 3px 3px #00bcd447, -.5em 0 0.4em #00bcd447;
    border-bottom-right-radius: 0px;
    background-color: #63cce3;
}
.btn{
    position: absolute;
    /* z-index: -5; */
    top: 147px;
    display: none;
    left: 59px;
    color: white;
    font-size: 25px;
    border: 1px solid #52bad1;
    padding: 10px;
    left: 40px;
    background-color: #52bad1;
}
.item-contents:hover .btn{
  display:block;
}
.container a {
  text-decoration: none;
  color: black;
}
.item-descriptors {
    /* float: right; */
    text-align: left;
    margin-left: 227px;
    color: white;
    padding: 0 5px;
}
.item-desc-attrs {
  padding: 5%;
}
.item-name {
    /* margin-left: 220px; */
    text-align: center;
    color: white;
}
.item-name p {
    margin: 0;
     padding: 10px 0;
}
.item-image {
  background-color: #e0e0e07a;
}
.btn:hover {
  background-color: rgba(82,186,209,.8);
}