<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sponsorship</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
{% if header %}
    <div class="header-container"><h2 class="header">Sponsor {{ cat['name'] }}!</h2></div>
{% endif %}
<div id="available-cats-container" class="container">
    {% if cat['status'] == 'adoptable' %}
        <div class="item-sm navigation-btn">
            <a href="#" onclick="history.back(-1)"><div class="next-btn">Back</div></a>
        </div>
        <div class="item">
          <a href="{{ cat['url'] }}">
          <div class="item-contents">
            <div class="item-image">
              <img src="{{ cat['photos'][0]['medium'] }}">
            </div>
            <div class="item-content-container">
                <div class="item-name">
                  <b><p>{{ cat['name'].split(' -')[0] | safe}}</p></b>
                </div>
                <div class="item-descriptors">
                  <div class="item-desc"><p>{{ cat['description'] }}</p></div>
                    <div class="item-desc-attrs">
                      <div class="item-desc"><b>Gender: </b>{{ cat['gender'] }}</div>
                      <div class="item-likes">
                        {% if cat['environment']['cats'] or cat['environment']['dogs'] or cat['environment']['children'] %}
                          <b>Likes:</b>
                        {% endif %}
                        {% if cat['environment']['cats'] %}
                          <img class="icon" src="{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}">
                        {% endif %}
                        {% if cat['environment']['dogs'] %}
                          <img class="icon" src="{{ url_for('static', filename='dog-solid.svg', _external=True, _scheme=scheme) }}">
                        {% endif %}
                        {% if cat['environment']['children'] %}
                          <img class="icon" src="{{ url_for('static', filename='child-solid.svg', _external=True, _scheme=scheme) }}">
                        {% endif %}
                        </div>
                    </div>
                </div>
              </div>
          </div>
          </a>
        </div>
    {% endif %}
    <div class="item">
      <div id="payment-item">
        <div class="item-desc">
            <h3>Adoption Fee Paid!</h3>
            <div>
                <h6>My adoption fee has already been paid! Please consider sponsoring another furry cat by clicking the back button!</h6>
            </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>
