<!doctype html>
<title>Stray Cat Blues</title>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css', _external=True, _scheme=scheme) }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
  <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" color="#5bbad5">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="theme-color" content="#ffffff">
</head>
  <body>
    <div id="available-cats-container" class="container">
      {% if fallback %}
        <a href="https://www.petfinder.com/search/cats-for-adoption/?shelter_id%5B0%5D=PA16&sort%5B0%5D=recently_added" target="_parent">
          <div class="btn small-button-style-raised sqs-block-button sqs-block-button-element--small">View all Adoptable Kitties</div>
        </a>
      {% else %}
          {% for cat in animals %}
            {% if cat['status'] == 'adoptable' %}
                <div class="item">
                  <a href="{{ cat['url'] }}">
                  <div class="item-contents">
                    <div class="item-image">
                      <img src="{{ cat['photos'][0]['medium'] }}">
                    </div>
                    <div class="item-content-container">
                        <div class="item-name">
                          <b><p>{{ cat['name'].split(' -')[0] | safe}}</p></b>
                        </div>
                        <div class="item-descriptors">
                          <div class="item-desc"><p>{{ cat['description'] }}</p></div>
                            <div class="item-desc-attrs">
                              <div class="item-desc"><b>Gender: </b>{{ cat['gender'] }}</div>
                              <div class="item-likes">
                                {% if cat['environment']['cats'] or cat['environment']['dogs'] or cat['environment']['children'] %}
                                  <b>Likes:</b>
                                {% endif %}
                                {% if cat['environment']['cats'] %}
                                  <img class="icon" src="{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}">
                                {% endif %}
                                {% if cat['environment']['dogs'] %}
                                  <img class="icon" src="{{ url_for('static', filename='dog-solid.svg', _external=True, _scheme=scheme) }}">
                                {% endif %}
                                {% if cat['environment']['children'] %}
                                  <img class="icon" src="{{ url_for('static', filename='child-solid.svg', _external=True, _scheme=scheme) }}">
                                {% endif %}
                                </div>
                            </div>
                            <div class="btn-container">
                                {% if sponsor_on %}
                                  <a href="{{ url_for("sponsor", cat_id=cat['id']) }}" target="_blank">
                                    <div class="next-btn">Sponsor Me!</div>
                                  </a>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                  </div>
                  </a>
                </div>
            {% endif %}
          {% endfor %}
      {% endif %}
        <div class="navigation-btn">
          {% if prev_link %}
            <a href="{{ prev_link }}"><div id="available-cats-prev" class="next-btn">Prev</div></a>
          {% endif %}
          {%  if next_link %}
            <a href="{{ next_link }}"><div id="available-cats-next" class="next-btn">Next</div></a>
          {% endif %}
        </div>
    </div>
{% if long %}
  </body>
{% endif %}
<script>
    parent.postMessage({'task': 'scroll_top',
                        'height': document.getElementById('available-cats-container').offsetHeight + 10}, '*');
</script>