<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sponsorship</title>
    <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script>
      function hide(elem, value) {
          try {
              elem.hidden = value;
          } catch {
              console.log('cannot hide ' + elem + ' ' + value);
          }
      }
      function display(elem, value) {
          try {
              elem.style.display = value;
          } catch {
              console.log('cannot display ' + elem + ' ' + value);
          }
      }
      function uuidv4() {
          return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
          );
      }
      const intentID = uuidv4();

      paypal.Buttons({
        createOrder: function (data, actions) {
          hide(document.getElementById('failure-msg'), true);

          // create an intent
          fetch('{{ order_intent_url }}', {
                  method: 'post',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-Intent-ID': intentID,
                      'User-Agent': 'catwidget'
                  },
                  body: JSON.stringify({
                      create_time: Date.now(),
                      sponsor_amount: {{ sponsor_amount }},
                      intent_id: intentID,
                      petfinder_id: {{ cat['id'] }},
                      cat_self_link: "{{  cat['url'] }}",
                      cat_name: "{{ cat['name'].split(' -')[0] | safe}}",
                      {% if cat['photos'] %}
                      cat_img: "{{ cat['photos'][0]['medium'] }}"
                      {% else %}
                      cat_img: "{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}"
                      {% endif %}
                  })
              }).catch(e => console.log(e + '; Failed to record intent_id: ' + intentID));

          // create the order
          return actions.order.create({
              purchase_units: [{
                  amount: {
                      value: {{ sponsor_amount }}
                  },
                  custom_id: intentID,
                  description: "sponsorcat cat_id:{{ cat['id'] }} cat_name:{{ cat['name'].split(' -')[0] | safe}} intent_id:" +intentID
              }]
          });
        },
        onError: function (e) {
          hide(document.getElementById('failure-msg'), false);
          display(document.getElementById('paypal-button-container'), 'block');
        },
        onCancel: function (e) {
          hide(document.getElementById('failure-msg'), true);
          display(document.getElementById('paypal-button-container'), 'block');

          try {
              // paypal css sets the buttons height to 0px only sometimes on cancel
              document.getElementById('paypal-button-container').childNodes[0].style.height = '200px';
          } catch {}
        },
        onClose: function (e) {
          hide(document.getElementById('failure-msg'), true);
          display(document.getElementById('paypal-button-container'), 'block');
        },
        onApprove: function (data, actions) {
          return actions.order.capture().then(function (details) {
              // order was declined
              if (details.error === 'INSTRUMENT_DECLINED') {
                  hide(document.getElementById('failure-msg'), false);
                  display(document.getElementById('paypal-button-container'), 'block');
                  return actions.restart();
              }

              // save the transaction
              return fetch('{{ order_callback_url }}', {
                  method: 'post',
                  headers: {
                      'content-type': 'application/json'
                  },
                  body: JSON.stringify({
                      create_time: details.create_time,
                      sponsor_amount: details.purchase_units["0"].amount.value,
                      given_name: details.payer.name.given_name + ' ' + details.payer.name.surname,
                      email: details.payer.email_address,
                      paypal_order_id: details.id,
                      intent_id: intentID,
                      petfinder_id: {{ cat['id'] }},
                      cat_self_link: "{{  cat['url'] }}",
                      cat_name: "{{ cat['name'].split(' -')[0] | safe}}",
                      {% if cat['photos'] %}
                      cat_img: "{{ cat['photos'][0]['medium'] }}"
                      {% else %}
                      cat_img: "{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}"
                      {% endif %}
                  })
              }).catch(function(e) {
                  console.log(e + '; Tracking number: ' + details.id);
              }).finally(function() {
                  // set state to successful even if reporting fails
                  hide(document.getElementById('failure-msg'), true);
                  hide(document.getElementById('item-desc'), true);
                  hide(document.getElementById('thank-you'), false);
                  display(document.getElementById('paypal-button-container'), 'none');
              });
          })
        }
      }).render('#paypal-button-container');
  </script>
</head>
<body>
{% if header %}
    <div class="header-container"><h2 class="header">Sponsor {{ cat['name'].split(' -')[0] | safe}}'s Care!</h2></div>
{% endif %}
<div id="available-cats-container" class="container">
    {% if cat['status'] == 'adoptable' %}
        <div class="item-sm navigation-btn">
            <a onclick="history.back(-1)"><div class="next-btn">Back</div></a>
        </div>
        <div class="item">
          <a href="{{ cat['url'] }}">
          <div class="item-contents">
            <div class="item-image">
                {% if cat['photos'] %}
                  <img src="{{ cat['photos'][0]['medium'] }}">
                {% else %}
                  <img class="icon" src="{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}">
                {% endif %}
            </div>
            <div class="item-content-container">
                <div class="item-name">
                  <b><p>{{ cat['name'].split(' -')[0] | safe}}</p></b>
                </div>
                <div class="item-descriptors">
                  <div class="item-desc"><p>{{ cat['description'] }}</p></div>
                    <div class="item-desc-attrs">
                      <div class="item-desc"><b>Gender: </b>{{ cat['gender'] }}</div>
                      <div class="item-likes">
                        {% if cat['environment']['cats'] or cat['environment']['dogs'] or cat['environment']['children'] %}
                          <b>Likes:</b>
                        {% endif %}
                        {% if cat['environment']['cats'] %}
                          <img class="icon" src="{{ url_for('static', filename='cat-solid.svg', _external=True, _scheme=scheme) }}">
                        {% endif %}
                        {% if cat['environment']['dogs'] %}
                          <img class="icon" src="{{ url_for('static', filename='dog-solid.svg', _external=True, _scheme=scheme) }}">
                        {% endif %}
                        {% if cat['environment']['children'] %}
                          <img class="icon" src="{{ url_for('static', filename='child-solid.svg', _external=True, _scheme=scheme) }}">
                        {% endif %}
                        </div>
                    </div>
                </div>
              </div>
          </div>
          </a>
        </div>
    {% endif %}
    <div class="item">
      <div id="payment-item">
        <div id="item-desc" class="item-desc">
            <h3>Sponsor my care for: ${{ sponsor_amount }}</h3>
            <div>
                <h6>Sponsor my spay/neuter and make it easier for me to find my forever home!</h6>
            </div>
        </div>
          <div id="thank-you" hidden>
              <div class="thank-you-container">
                  <h3 class=thank-you-text">Thank you for your support!</h3>
                  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                  </svg>
              </div>
          </div>
          <div id="failure-msg" class="fail" hidden><h5>Oops! Failed to process your payment. Please try again.</h5></div>
        <div id="paypal-button-container"></div>
      </div>
    </div>
</div>
<script>
    parent.postMessage({'task': 'scroll_top',
                        'height': document.getElementById('available-cats-container').offsetHeight + 80}, '*');
</script>
